<div class="screen flex-col vh-full align-center">
  <h1 class="mt-auto">
    Expense Point
  </h1>
  <div class="flex-col gap-10 w-full text-center mt-auto">
    <%= link_to 'LOG IN', new_user_session_url, class: "link link-main" %>
    <%= link_to 'SIGN UP', new_user_registration_url, class: "link" %>
  </div>
</div>